#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  font-family: monospace;
  background: rgb(155, 89, 99);
  background: linear-gradient(
    0deg,
    rgba(160, 80, 99, 1) 0%,
    rgba(17, 5, 80, 4) 100%
  );
  color: white;
}

.navbar {
  display: flex;
  color: white;
  height: 120px;
}

.nav-link {
  margin-left: 200px;
  margin-right: 200px;
}

.form {
  margin: 20px
}